<br/><br/><br/>
This is the login page


<button class="button button-calm" ui-sref="login">
    login
</button>
</br>
<button class="button button-calm" ui-sref="home">
    home
</button>
</br>
<button class="button button-calm" ui-sref="accounthistory">
    accounthistory
</button>
</br>
<button class="button button-calm" ui-sref="dish">
    dish
</button>
</br>
<button class="button button-calm" ui-sref="login">
    login
</button>
</br>
<button class="button button-calm" ui-sref="register">
    register
</button>
</br>
<button class="button button-calm" ui-sref="settings">
    settings
</button>
</br>
<button class="button button-calm" ui-sref="terms">
    terms
</button>
</br>
<button class="button button-calm" ui-sref="crnttransactions">
    crnttransactions
</button>
</br>
<button class="button button-calm" ui-sref="home">
    home
</button>
</br>
<button class="button button-calm" ui-sref="profile">
    profile
</button>
</br>
<button class="button button-calm" ui-sref="sellmeal">
    sellmeal
</button>
</br>
<button class="button button-calm" ui-sref="signin">
    signin
</button>
</br>
